.background_dark {
  background-color: #d91f28;
  color: floralwhite;
}

.background_light {
  background-color: #cd3d42;
  color: floralwhite;
}

.background_pale {
  background-color: #d86363;
  color: floralwhite;
}

.item{
    margin-bottom: 10px;
}
